[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Dependencies/tinyobjloader"]
	path = Dependencies/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "Dependencies/stb"]
	path = Dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "Dependencies/glad"]
	path = Dependencies/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Dependencies/rapidjson"]
	path = Dependencies/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "Dependencies/tinygltf"]
	path = Dependencies/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "Dependencies/stduuid"]
	path = Dependencies/stduuid
	url = https://github.com/mariusbancila/stduuid.git
[submodule "Dependencies/entt"]
	path = Dependencies/entt
	url = https://github.com/skypjack/entt.git
