[submodule "Submodules/GLM"]
	path = Submodules/GLM
	url = https://github.com/g-truc/glm.git
[submodule "Submodules/ENTT"]
	path = Submodules/ENTT
	url = https://github.com/skypjack/entt.git
[submodule "Submodules/GLFW"]
	path = Submodules/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Submodules/GLAD"]
	path = Submodules/GLAD
	url = https://github.com/Dav1dde/glad.git
[submodule "Submodules/IMGUI"]
	path = Submodules/IMGUI
	url = https://github.com/ocornut/imgui.git
[submodule "Submodules/RapidJSON"]
	path = Submodules/RapidJSON
	url = https://github.com/Tencent/rapidjson.git
[submodule "Submodules/STB"]
	path = Submodules/STB
	url = https://github.com/nothings/stb.git
[submodule "Submodules/STDUUID"]
	path = Submodules/STDUUID
	url = https://github.com/mariusbancila/stduuid.git
[submodule "Submodules/TinyGLTF"]
	path = Submodules/TinyGLTF
	url = https://github.com/syoyo/tinygltf.git
[submodule "Submodules/TinyOBJLoader"]
	path = Submodules/TinyOBJLoader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "Submodules/GLSLLang"]
	path = Submodules/GLSLLang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "Submodules/SPIRVHeaders"]
	path = Submodules/SPIRVHeaders
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "Submodules/SPIRVTools"]
	path = Submodules/SPIRVTools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "Submodules/Shaderc"]
	path = Submodules/Shaderc
	url = https://github.com/google/shaderc.git
